<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.net/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>充值、支付中心</h1>
<a href="http://localhost:8080/user/mybank.html">我的资金账户</a>
<div id="mycom">
<template>
    <p>接收人的名字:<input v-model="receiver" type="text"></p>
    <p>选择资金账户: <input type="radio" id="我的账户" value="User" v-model="bank">
    <label for="我的账户">我的账户</label>
        <input type="radio" id="公司账户" value="Com" v-model="bank">
        <label for="公司账户">公司账户</label>
    </p>
    <p>输入您的密码:<input v-model="Password" type="password"></p>
    <p>输入您的转账的金额大小:<input v-model="amount" type="text"></p>
    <button @click="paying">确定</button>
<!--    <div v-if="checkpay">

        <input @click="sure" value="确定支付" type="submit">
        <input @click="cancel" value="取消支付" type="submit">
    </div>-->

    <!--<div v-if="isjoinCom">-->
    <p></p>
    <p>以下是群组人员</p>
    <!--<tr v-for="(relation,i) in relations.data" align="center">
        <td>组员名字:{{relation.username}}</td>
        <td v-if="isadmin"><input type="button" value="收款" @click="request(relation.username)" v-model="selected"></td>
       <td v-if="isadmin"></td>-->
    <!--</tr>-->
    <!--</div>-->
    <h2>用户信息</h2>
    <p>角色: {{ relations.role }}</p>
    <p>用户名: {{ relations.username }}</p>
    <h3>数据列表</h3>
    <ul>
        <li v-for="(item, index) in relations.data" :key="index">
            公司名: {{ item.comName }}, 用户名: {{ item.username }}  <td v-if="isadmin">
            <input type="button" value="回收资金" @click="request(item)">
            <input type="button" value="分配资金" @click="pay(item)">
 <!--           <input type="button" value="收款" @click="showForm = true">
            <form-component :showForm="showForm" :formData="formData" @closeForm="showForm = false"></form-component>-->


        </td>
        </li>
    </ul>
</template>
</div>


<script>


    new Vue({
        el:'#mycom',
        data(){
            return{
                ComName:'',
                name:'',
                role:'',
                isadmin:false,
                //公司旗下所有人的名字
                relations:[],
                isjoinCom:false,
                payed:'',
                showForm:false,
                Password:'',          //密码
                receiver:'',          //支付对象的名字
                amount:'', //金额大小
                bank:'',   //账户主体 User or Com
                checkpay:false
            }

        },
            mounted(){
            this.init();
        },
        methods:{
            init(){
                axios({
                    url:'http://localhost:8080/comServlet?method=loginCom',
                    method:'get'

                }).then(resp=>{
                    if(resp.data.data===undefined){
                        alert("你还未加入公司,功能受限");
                    }else{
                        this.name = resp.data.username;
                        this.isjoinCom=true;
                        this.relations = resp.data;
                        this.role = resp.data.role;
                        if(this.role==='Com_admin'){
                        this.isadmin=true;
                      }
                    }
                })
                    .catch(errpr=>{
                        alert(errpr);
                    })
            },
            request(username){
                if(username.role==='Com_admin'){
                    alert("权限不足");
                }
                else if(this.role==='Com_admin') {
                    window.location.href = '/bank/com_fund.html?username=' + username + '&type=request';
                }else {
                    alert("权限不足");
                }
            },

            pay(username) {
                //分配资金到个人
                //创建权限表
                if(username.role==='Com_admin'){
                    alert("权限不足");
                }
                else if(this.role==='Com_admin') {
                    window.location.href = '/bank/com_fund.html?username=' + username + '&type=apy';
                }else {
                    alert("权限不足");
                }
            },

            paying(){
                //发送给后台
                //进行资金冻结流程
                //校验等操作
                if(this.receiver===undefined||this.Password===undefined||this.bank===undefined||this.amount===undefined){
                    alert("请输入完整的信息");
                }else {
                    const regex = /^(([1-9]\d*)|\d)(\.\d{1,2})?$/;
                    if (regex.test(this.amount)) {
                        axios({
                            url: 'http://localhost:8080/fundServlet?method=pay',
                            method: 'post',
                            data: {
                                username: this.name,
                                receiver: this.receiver,
                                bank: this.bank, //账户
                                password: this.Password,
                                amount: this.amount,

                            }
                        })
                            .then(resp => {
                                if(resp.data.code===100){
                                    alert(resp.data.msg);
                                    location.reload();
                                }else if(resp.data.code===101){
                                    alert(resp.data.msg);
                                    location.reload();
                                }else if (resp.data.code===102){
                                    alert(resp.data.msg);
                                }
                            })
                            .catch(error => {
                                alert(error);
                            })
                    }else{
                        alert("请输入正确格式");
                    }
                }

            },
            sure(){
                //确认交易
            },
            cancel(){
                //取消交易
            }

        }


    })

</script>

</body>
</html>