<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <!--   <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<a href="register.html">没有账号？去注册</a><br>
<a href="forget.html">忘记密码</a>
<div id="app">

<input type="text" v-model="username">
<input type="text" v-model="password">
<button id="resp" @click="send">Click me</button>
</div>
<div>

</div>
<script>
    /*
        $("#resp").click(function () {
            var username = $("input[name='username']").val();
            var password = $("input[name='password']").val();
            $.ajax({
                type:'post',
                url:'http://localhost:8080/userServlet?method=login',
                data:{
                    username:username,
                    password:password
                },
                async:false,
                responseType:'json',
                success:function (resp) {
                    console.log(resp);
                    console.log(resp['status']);
                    if(resp.status==='101'){
                        alert("登陆失败，用户名或密码有错");
                    }else {
                        //跳转页面
                        location.href = "centre";
                    }
                },
                error: function (err) {
                    alert("有错误");
                },
                timeout:3000

            })
        })*/

  new Vue({
      el:'#app',
      data:{
          username:[],
          password:[]
      },
      methods:{
          send(){
              if(this.username!==undefined&&this.username.length>0&&this.password.length>0) {
                  axios.post("http://localhost:8080/userServlet?method=login", {
                      username: this.username,
                      password: this.password
                  })
                      .then(response => {
                          console.log(response.status);
                          console.log(response.data.status);
                          console.log(response);
                          if (response.data.status === 101) {
                              alert(response.data.msg);

                          } else {
                             // alert("登陆成功");
                              //加入cookie
                              document.cookie = "username="+response.data.username+"; path=/";
                              location.href = "http://localhost:8080/com.html";
                          }
                      })
                      .catch(error => {
                          alert("发送错误，请在控制台查看");
                          console.log(error);

                      })
              }else {
                  alert("用户名和密码不能为空");
              }
          }
      }
  })


</script>
</body>
</html>