<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div>
    <h1>欢迎注册</h1>
    <span>已有账号？</span><a href="login.html">登录</a>
</div>
<div id="register">

        <table>
            <tr>
                <td>用户名</td>
                <td>
                    <input name="username" type="text" v-model="username">
                </td>
                <br>
                <!--<span>&{register_msg}</span>-->
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input name="password" type="text" v-model="password">
                </td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>
                    <input type="text" v-model="email">
                </td>
            </tr>
        </table>
         <button @click="submitData" type="submit">提交</button>
</div>
  <script>
      new Vue({
          el: '#register',
          data:{
              username:'',
              password:'',
              email:''
          },
          methods:{
              submitData(){
                  if(this.username!==undefined&&this.username.length>0&&this.password.length>0){

                      axios.post("http://localhost:8080/userServlet?method=register",{
                          username: this.username,
                          password: this.password,
                          email: this.email
                      })
                          .then(resp=>{
                              //接收jwt

                              //跳转
                              location.href="http://localhost:8080/user/login.html";
                          })
                          .catch(error=>{
                              alert("发生错误");
                          })
                  }else{
                      alert("用户名和密码不能为空");
                  }


              }
          }
      })
  </script>


</body>
</html>