<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>后台管理员</h1>
<a href="http://localhost:8080/userServlet?method=unlog">退出登录</a>
<div id="admin">
    <!--显示所有用户，可设置封禁-->
    <p>企业的申请:</p>
    <ul>
        <li v-for="(item,index) in apply":key="item.comName">
            申请的企业:{{item}} <button  @click="approval(item)">同意</button>
            <input type="button" @click="disapproval(item)" value="不同意" >
        </li>
    </ul>
    <p>企业群组:</p>
    <ul>
        <li v-for="(com, index) in Coms" :key="com.ComName">
            公司信息:   {{com}}   <input type="button" @click="Comfrozen(com)" value="封禁">
            <input type="button" @click="disComfrozen(com)" value="解禁">
        </li>
    </ul>
    <p>以下是所有用户</p>
    <ul>
        <li v-for="(user, index) in users" :key="user.username">
            用户信息:   {{user}}   <input type="button" @click="Userfrozen(user)" value="封禁">
            <input type="button" @click="disUser_frozen(user)" value="解禁">
        </li>
    </ul>
    <ul>
        <li v-for="(item, index) in msg" :key="item">
            消息信息:   {{item}}   <input type="button" @click="DeleteMsg(user)" value="删除">
        </li>
    </ul>
    <!--显示所有企业可设置封禁-->
  <!--  <p>以下是被封的群组</p>
    <ul>
        <li v-for="(com,index) in frozenCom":key="com.ComName">
            公司信息:   {{com}}   <input type="button" @click="disComfrozen(com.ComName)" value="解禁">
        </li>
    </ul>
-->

    <!--查看异常交易？-->
</div>


<script>
    new Vue({
        el:'#admin',
        data:{
            Coms:[],
            username:[],
            apply:[],
            frozenCom:[],
            users:[],
            msg:[]

        },
        mounted(){
            this.approvingCom();
            this.getcom();
            this.getUser();
        },
        methods:{
            getUser(){
                axios({
                    url:'http://localhost:8080/adminServlet?method=getuser',
                    method:'get'
                })
                    .then(resp=>{
                        this.users=resp.data;
                    })
                    .catch(error=>{
                        alert(error);
                    })
            },
            Userfrozen(user){
                if(user.is_frozen===false) {
                    axios({
                        url: 'http://localhost:8080/adminServlet?method=frozen_user',
                        method: 'post',
                        data:{
                            username:user.username
                        }
                    })
                        .then(resp => {
                            if(resp.data.code===200) {
                                this.user = resp.data.msg;
                                user.is_frozen = true;
                            }
                            alert(resp.data.msg);
                        })
                        .catch(error => {
                            alert(error);
                        })
                }else{
                    alert("已经封禁了")
                }
            },
            disUser_frozen(user){
                if(user.is_frozen===true) {
                    axios({
                        url: 'http://localhost:8080/adminServlet?method=dis_frozen_user',
                        method: 'post',
                        data:{
                            username: user.username
                        }
                    })
                        .then(resp => {
                            if(resp.data.code===200) {
                                this.user = resp.data.msg;
                                user.is_frozen = false;
                            }
                            alert(resp.data.msg);
                        })
                        .catch(error => {
                            alert(error);
                        })
                }
                else {
                    alert("已经解封了")
                }
            },
            getcom(){
                axios({
                    url:'http://localhost:8080/adminServlet?method=getcom',
                    method:'get'
                })
                    .then(resp=>{
                        this.Coms=resp.data.data;
                    })
                    .catch(error=>{
                        alert(error);
                    })
            }
        ,
            Comfrozen(Com){
                if(Com.is_frozen===false) {
                    axios({
                        url: 'http://localhost:8080/adminServlet?method=Com_frozen',
                        method: 'post',
                        data:{
                            ComName:Com.comName
                        }
                    })
                        .then(resp => {
                            alert(resp.data.msg);
                            Com.is_frozen=true;
                        })
                        .catch(error => {
                            alert(error);
                        })
                }else{
                    alert("已经封禁了")
                }
            },
            disComfrozen(Com){
                if(Com.is_frozen) {
                    axios({
                        url: 'http://localhost:8080/adminServlet?method=dis_frozen_com',
                        method: 'post',
                        data:{
                        comName:Com.comName
                        }
                    })
                        .then(resp => {
                            alert(resp.data.msg);
                            Com.is_frozen=false;
                        })
                        .catch(error => {
                            alert(error);
                        })
                }else{
                    alert("已经解除封禁了")
                }
            },
            approvingCom(){
                axios({
                    url:'http://localhost:8080/adminServlet?method=getNewCom',
                    method:'get'
                })
                    .then(resp=>{
                       this.apply=resp.data;
                    })
                    .catch(error=>{
                        alert(error);
                    })
            },
            disapproval(Com){
                axios({
                    url:'http://localhost:8080/adminServlet?method=disagree&comName='+Com.comName,
                    method:'get'
                })
                    .then(resp=>{
                        alert(resp.data.msg);
                        //删除这一行
                        const index = this.apply.indexOf(Com);
                        if (index !== -1) {
                            this.apply.splice(index, 1);
                        }

                    })
                    .catch(error=>{
                        alert(error);
                    })
            },

            approval(ComName){
                axios({
                    url:'http://localhost:8080/adminServlet?method=approvalCom&comName='+ComName.comName,
                    method:'get'
                })
                    .then(resp=>{
                        alert(resp.data.msg);
                        const index = this.apply.indexOf(ComName);
                        if (index !== -1) {
                            this.apply.splice(index, 1);
                        }
                        ComName.comName.isApply=true;


                    })
                    .catch(error=>{
                        alert(error);
                    })
            },
            deleteMsg(item){
                axios({
                    url:'http://localhost:8080/adminServlet?method=deleteMsg',
                    method:'get'
                })
                    .then(resp=>{

                    })
                    .catch(error=>{
                        alert(error);
                    })
            }



        }


    })

</script>


</body>
</html>